@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

:root {
    --clr-1: #052b2f;
    --clr-2: #073438;
    --clr-3: #0e4b50;
    --clr-4: #2d8f85;
    --clr-5: #637c54;
}

body {
    background: var(--clr-2);
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.card {
    height: 60vh;
    aspect-ratio: 1/1.5;
    background: var(--clr-1);
    border-radius: 0.5rem;

    position: relative;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    inset: -.5rem;
    z-index: -1;
    background: conic-gradient(from var(--gradient-angle), var(--clr-3), var(--clr-4), var(--clr-5), var(--clr-4), var(--clr-3));
    border-radius: inherit;
    animation: rotation 20s linear infinite;
}

.card::after {
    filter: blur(2.5rem);
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}

/* New things: property, conic-gradient */